<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    Please enter your secretary email to continue:
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>

    {# This message appears if the email adress doesn't exist. #}
    {% if email_not_found %}
        <div>
            <p style="color:red; font-size:120%;">
                Sorry, the email "{{email_not_found}}" wasn't found.
            </p>
        </div>
    {% endif %}
</body>
</html>